<section class="py-8">
    <div class="container px-4 mx-auto animate__animated animate__fadeIn">
        <div hx-get="/users/table" hx-trigger="load" hx-target="#user_table" hx-swap="outerHTML"
            class="p-4 mb-6 rounded-lg">
            <div class="relative sm:rounded-lg">
                <div class="hidden flex px-5 py-5 items-center justify-between pb-4 bg-white dark:bg-gray-900">
                    <div >
                        <select disabled id="action"
                            class="hidden bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>Action (currently unavailable)</option>
                            <option>Delete</option>
                        </select>
                    </div>

                    <label for="table-search" class="sr-only">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <input type="text" id="table-search-users"
                            class="hidden block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Search for users">
                    </div>
                </div>
                <div id="user_table">
                    {% include "components/loading.html" %}
                </div>

            </div>

        </div>
    </div>
</section>
<div id="modal"
    class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
    <div id="modal-user" class="opacity-100 relative w-full h-full max-w-md my-auto mx-auto md:h-auto ">
    </div>
</div>
<script>
    document.body.addEventListener("htmx:responseError", (event) => {
        // handle the error here
        if (event.detail.xhr.status == 429) {
            document.getElementById("error_message").classList.remove("hidden");
            document.getElementById("error_message").innerHTML = "Plex API request limit reached. Please try again later.";
        }
        else {
            document.getElementById("error_message").classList.remove("hidden");
            document.getElementById("error_message").innerHTML = "An error occurred. Please try again later.";
        }
    });

</script>
<script>
    
    // when a button is clicked with an id of "delete", add the "animate__fadeOut" to its parent 'tr'
    document.querySelectorAll('button#delete').forEach(button => {
        button.addEventListener('click', function () {
            this.closest('tr').classList.add('animate__fadeOut');
        });
    });


    // a function called closeModal that add the hidden class to 'modal-div' and deletes all child elements from 'user-modal'
    function closeModal() {
        document.getElementById('modal').classList.add('hidden');
        var modal = document.getElementById('modal-user');
        while (modal.firstChild) {
            modal.removeChild(modal.firstChild);
        }
    }

</script>
